td {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: 1.1px;

  &.not-started,
  &.in-progress {
    background: #FDAB3D;
  }

  &.completed {
    background: #00C875;
  }
}