@use './../../../../shared/styles/variables' as *;

tr {
  display: grid;
  grid-template-columns: $table-column-layout;
  height: 60px;
  background: white;
  transition: all 40ms ease-in-out;
  cursor: pointer;

  &:last-child {
    border-bottom: 1px solid $table-border-color;
  }

  td {
    border-right: 1px solid $table-border-color;

    &:last-child {
      border-right: 1px solid transparent;
    }
  }

  td,
  app-task-td-progress {
    padding: 1rem 0.5rem;

    &.owner {
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        color: $table-border-color;
      }
    }
  }

  &:hover,
  &.active {
    background: rgb(244, 243, 243);
  }
}

.task-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: inset -1px 4px 10px rgba(6, 16, 26, 0.05), inset 0px 10px 15px -5px rgba(6, 16, 26, 0.05);
  background: rgb(244, 243, 243);

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    color: grey;

    h4 {
      margin: 0;
      padding: 0;
      font-weight: 200;
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    padding: 0.25rem 1rem;
    background: rgb(244, 243, 243);
    
    div, ul {
      flex: 50%;
    }

    .notes, .child-tasks {
      padding: 0.5rem;

      h5 {
        margin: 0 0 0.5rem 0;
        padding: 0;
      }
    }

    .child-tasks {
      ul {
        margin: 0;
        padding: 0 0 0.5rem 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        min-height: 100px;
        max-height: 160px;
        overflow: hidden;
        overflow-y: scroll;

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: white;
          padding: 0.25rem 0.5rem;
          border-radius: 8px;

          mat-icon {
            color: $table-border-color;
            cursor: pointer;
          }

          &.completed {
            span {
              text-decoration: line-through;
            }

            mat-icon {
              color: #00C875;
            }
          }
        }
      }
    }

    .notes {
      p {
        min-height: 100px;
        max-height: 160px;
        overflow: hidden;
        overflow-y: scroll;
        background: white;
        border-radius: 8px;
        padding: 0.25rem 0.5rem;
        margin: 0;
        white-space: pre-wrap;
      }
    }
  }
}