<tr (click)="openTaskHandler(task().id)" [ngClass]="{ 'active': isOpen() }">
  <td>{{ task().title }}</td>
  <td>{{ task().priority }}</td>
  <td class="owner">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
  </td>
  <td>12th Jan 2024</td>
  <!-- <td class="duration">
    <div class="duration-bar">
      <div class="progress-bar" [ngStyle]="{ width: (subTasks() | taskCompletionCalc) + '%' }"></div>
    </div>
  </td> -->
  <app-task-td-progress [subTasks]="subTasks()" />
  <app-task-td-status [subTasks]="subTasks()" />
  <!-- <td class="status" [ngClass]="task().status">{{ task().status | titlecase }}</td> -->
</tr>

<div *ngIf="isOpen()" class="task-details">
  <div class="head">
    <h4>Task details</h4>
    <div class="actionables">
      <mat-icon aria-hidden="false" aria-label="Delete task" fontIcon="delete"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Edit task" fontIcon="edit"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Close task details" fontIcon="close" (click)="openTaskHandler(undefined)"></mat-icon>
    </div>
  </div>
  <div class="body">
    <div class="child-tasks">
      <h5>{{ task().subTasks.length }} Task(s) - {{ tasksRemaining() }} remaining</h5>
      <ul>
        @for (subTask of subTasks(); track subTask.id) {
          <li [class.completed]="subTask.isCompleted">
            <span>{{ subTask.title }}</span>
            <mat-icon 
              aria-hidden="false"
              aria-label="Example home icon"
              [fontIcon]=" subTask.isCompleted ? 'task_alt' : 'radio_button_unchecked'"
              (click)="actionSubTaskHandler(subTask.id)">
            </mat-icon>
          </li>
        } @empty {
          <p>No sub tasks</p>
        }
      </ul>
    </div>
    <div class="notes">
      <h5>Notes</h5>
      <p>{{ task().notes }}</p>
    </div>
  </div>
</div>
