$header-height: 60px;

$table-border-color: rgb(219, 219, 219);
$table-column-layout: 25% 10% 10% 15% 25% 15%;

$negative: #ff7878;
$pending: #FDAB3D;
$positive: #00C875;

$primary: #A63EE5;

$br-sm: 4px;
$br-md: 8px;
$br-lg: 12px;
$br-round: 50%;