@use './../../shared/styles/variables' as *;

section {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 4px;

  .actions {
    border-bottom: 1px solid $table-border-color;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.25rem;
    color: #A63EE5;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      display: grid;
      grid-template-columns: $table-column-layout;

      th {
        padding: 0.5rem;
        border-right: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;

        &:last-child {
          border-right: 1px solid transparent;
        }
      }
    }
  }
}
