<section>
  <div class="actions">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add_circle" (click)="openTaskDialogHandler()"></mat-icon>
  </div>
  <table cellPadding="0" cellSpacing="0">
    <thead>
      <th>Title</th>
      <th>Priority</th>
      <th>Owner</th>
      <th>Date</th>
      <th>Duration</th>
      <th>Status</th>
    </thead>
    <tbody>
      @for (task of tasks(); track task.id) {
        <app-task-row [task]="task" (toggleOpenTask)="openTaskHandler($event)" [isOpen]="openedTaskId() === task.id"></app-task-row>
      }
    </tbody>
  </table>
</section>
